.header{
  width: 100%;
  margin: 20px auto 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-wrapper{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  align-self: start;
  justify-content: space-between;
  cursor: pointer;
}

.logo-img{
  width: 60px;
  height: auto;
  margin-right: 15px;
}

.logo-text{
  font-family: "SybilWitch", sans-serif;
  font-size: 36px;
  color: white;
  font-weight: normal;
  margin-bottom: -5px;
}

.burger{
  display: none;
  flex-direction: column;
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 30px;
}

.burger-line{
  width: 30px;
  height: 3px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 5px;
}

.burger-line:last-child{
  margin-bottom: 0;
}

.header-link{
  font-size: 32px;
  color: white;
  margin-right: 30px;
  transition: stroke-width .5s ease;
}

.header-link:hover, 
.logo-wrapper:hover .logo-text{
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.header-link-active{
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.header-link:last-child{
  margin-right: 0;
}

.header-links-adaptive{
  display: none;
  flex-direction: column;
  align-items: flex-end;
  opacity: 0;
  transition: opacity 1s ease;
  z-index: -5;
}

.burger-wrapper{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 24px;
}

.header-links-active{
  opacity: 1;
  transition: opacity 1s ease;
  z-index: 1;
}

@media (max-width: 1280px) {
  .header{
    width: 90%;
  }

  .header-links{
    display: none;
  }

  .header-links-adaptive{
    display: flex;
  }

  .header-link{
    margin: 0 0 10px 0;
  }

  .header-link:last-child{
    margin-bottom: 0;
  }

  .burger {
    display: block;
  }
}

