@font-face {
  font-family: "QuiteMagical";
  font-style: normal;
  font-weight: normal;
  src: local('QuiteMagical'), url("./fonts/QuiteMagical/QuiteMagicalRegular.ttf") format("truetype");
}

@font-face {
  font-family: "SybilWitch";
  font-style: normal;
  font-weight: normal;
  src: local('SybilWitch'), url("./fonts/SybilWitch/SybilWitch.otf") format("opentype");
}
